.main {
  padding: 20px;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.taskContainer {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  }

  .taskContainer h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }

  input[type="text"], textarea {

    width: calc(100% - 90px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0070f3;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  label{
    display: block;
    margin-top: 15px;
  }